.margine-sinistro {
  padding-left: 5%;
}

.main-menu {
  background-color: #212121;
  border-right:2px solid #e5e5e5;
  height: 100%;
}

.main-menu li {
  position:relative;
  display:block;
  padding: 18px 0;
  border-bottom: 1px solid rgba(244,244,244,0.4);
  color: rgba(244,244,244,0.7);
}

.main-menu ul li:last-child {
  border-bottom: 0;
}

.main-menu a {
  position:relative;
  display:table;
  border-collapse:collapse;
  border-spacing:0;
  color:#999;
  font-family: arial;
  font-size: 18px;
  cursor: pointer;
  text-decoration:none;
  -webkit-transform:translateZ(0) scale(1,1);
  -webkit-transition:all .1s linear;
  transition:all .1s linear;
}

.active {
  color: #ffffff;
}

.main-menu .nav-icon {
  position:relative;
  display:table-cell;
  width:60px;
  height:36px;
  text-align:center;
  vertical-align:middle;
  font-size:18px;
}

.main-menu .nav-text {
  position:relative;
  display:table-cell;
  vertical-align:middle;
  width:190px;
  font-family: sans-serif;
}

.main-menu a:hover {
  color: rgba(244,244,244,1);
  text-decoration: none;
}

.arrow-down a:after {
  color: #999;
  content: ' ▼';
  font-size: 15px;
  vertical-align: 1px;
}

.arrow-down:hover > a:after {
  color: rgba(244,244,244,1);
}