<nav class="main-menu">
  <ul class="components margine-sinistro">
    <li *ngFor="let item of sidebarItems">
      <div *ngIf="!item.children; else submenuEntry">
        <a (click)="click($event, item)"><span [ngClass]="{active: isActive(item)}">{{ item.description }}</span></a>
      </div>
      <ng-template #submenuEntry>
        <div class="arrow-down">
          <a href="#submenu" data-toggle="collapse" aria-expanded="false"> {{ item.description }} </a>
        </div>
        <ul class="collapse margine-sinistro" id="submenu">
          <!--<li *ngFor="let childrens of items.children"></li>-->
          <sidebar [sidebarItems]="item.children"></sidebar>
        </ul>
      </ng-template>
    </li>
  </ul>
</nav>