<div class="row container-button-bar">
    <div  *ngIf="backButton !== null && backButton !== undefined">
        <dx-button  id="labelBackButton"  text={{backButton.label}} icon={{backButton.icon}} (onClick)="back()" [disabled]="backButton.disabled"></dx-button>
    </div>

    <div *ngIf="restoreButton !== null && restoreButton !== undefined">
        <dx-button id="labelRestoreButton" text={{restoreButton.label}} icon={{restoreButton.icon}} (onClick)="restore()" [disabled]="restoreButton.disabled"></dx-button>
    </div>

    <div *ngIf="saveButton !== null && saveButton !== undefined">
        <dx-button id="labelSaveButton" text={{saveButton.label}} icon={{saveButton.icon}} (onClick)="save()" [disabled]="saveButton.disabled"></dx-button>
    </div>

    <div *ngIf="reloadButton !== null && reloadButton !== undefined">
        <dx-button id="labelReloadButton" text={{reloadButton.label}} icon={{reloadButton.icon}} (onClick)="reload()" [disabled]="reloadButton.disabled"></dx-button>
    </div>

    <div>
    </div>
</div>